input, textarea
	outline: none
	font-family: 'matias', Arial, Helvetica, sans-serif

input

	&::placeholder
		color: #5a5a5a

	&:active,
	&:focus
		border-color: #5a5a5a

	&.error
		border-color: #5a5a5a
		color: #5a5a5a
	&.ng-touched.ng-invalid
		border: solid red 2px
		box-shadow: inset 0px 0 3px 0px red
	&.ng-touched.ng-valid
		border:solid green 2px

textarea.textarea
	resize: none