.steps
	position: relative
	background-color: #1cbbb4
	padding-bottom: 13%
	&:before
		background-image: url("../img/stepsBG.png")
		background-repeat: no-repeat
		background-size: 2000px 100%
		background-position: 50% 100%
		content: ''
		position: absolute
		top: -12%
		left: 0
		width: 100%
		height: 110%
		+bp($sm)
			background-image: url("../img/mobile/stepsBG.png")
			background-size: 100% 100%
			height: 100%
			top: -5%
	+bp($md)
		padding 15% 0 10%
		&-wrap
			border-radius: 15px
			background-color: transparentize(#fff, .3)
			margin-bottom: 5%
	+bp($sm)
		min-height: 675px
		padding-bottom: 0
		overflow: hidden
		&-wrap
			background: none
			text-align: center
	h2
		width: 65%
		margin: 0 auto 2%

		+bp($md)
			width: 100%
			margin: 0 auto
			padding: 5% 0
	&-item
		display: inline-block
		vertical-align: top
		width: 32%
		padding: 2%
		min-height: 490px
		text-align: center
		background-color: #FFF
		border-radius: 35px
		margin-right: 1%
		position: relative
		+bp($md)
			display: block
			width: 100%
			text-align: center
			background: none
			padding: 5% 5% 0
			min-height: initial

			&:last-of-type
				padding-bottom: 5%

		+bp($sm)
			background-color: #FFF
			margin: 0 1%
			padding: 2% 3%

		&:last-of-type
			margin-right: 0
			p
				margin-bottom: 15%
				+bp($md)
					margin-bottom: 0

		h3
			margin: 25px 0
			color: #1cbbb4
			+bp($md)
				margin: 0
				padding-top: 110px
			+bp($sm)
				padding-top: 0

		p
			font-size: 24px
			line-height: 30px
			color: #1cbbb4
			margin-bottom: 10%
			+bp($md)
				margin: 0
				font-size: 18px
				line-height: 25px
	&-img
		line-height: 220px
		+bp($md)
			line-height: 100%
			position: absolute
			top: 5%
			left: 50%
			height: 100px
			text-align: center
			width: 100px
			margin-left: -50px
		+bp($sm)
			position: static
			top: auto
			left: auto
			margin: 1% auto
			height: 150px
		img
			vertical-align: middle
			+bp($md)
				max-width: 100px
				height: 100%
