<div class="innerpage">
	<div class="wrapper">
		<div *ngIf="event" class="eventPage">
			<div class="prevPage"  [routerLink]="['/']" fragment="event_{{timeslot_id}}" [queryParams]="gs.url"><img src="../app/img/back.png" alt=""><span>Назад</span></div>
			<div class="btn eventPage-scrollBtn" (click)="scrollToTicket()">Купить билет</div>
			<h1>{{event.name}}</h1>
			<div class="col-1-2 eventCol">
				<div class="eventPage-provider">{{event.provider.name}}</div><img *ngIf="event.photo" class="eventPage-photo" src="{{'img/' + event.photo + '.jpg'}}" alt=""><img *ngIf="!event.photo" class="eventPage-photo" src="../app/img/placeholder.jpg" alt=""><div class="eventPage-info" [class.eventPage-info-small]="event.age_to >= 99">
					<div *ngIf="event.age_to < 99" class="eventPage-age">Для детей {{event.age_from}}-{{event.age_to}} лет</div>
					<div *ngIf="event.age_to >= 99" class="eventPage-age">Для детей от {{event.age_from}} лет и взрослых</div>
					<div class="eventPage-freeSeats">
						<img src="../app/img/children.png" alt="">
						<p class="eventPage-p">Осталось мест</p>
						<span>{{event.locations[selectedLocation].time_slots[selectedTime].free_seats}}</span>
					</div>
				</div>
				<div *ngIf="event.extra" class="eventPage-additionalInfo">Важно: <span [innerHtml]="event.extra"></span></div>
				<p class="eventPage-p">{{event.description}}</p>

			</div><!-- 
		 --><div class="col-1-2">
		 		<div class="ticket" id="ticket">
					<div class="ticket__header">
						<div class="eventPage-title">Билет</div>
						<div class="eventPage-ticket-fields">
							<ng-container *ngIf="event.locations.length>1">
								<div class="eventPage-address">Выберите место посещения:</div>
								<div class="eventPage-checks"><span *ngFor="let location of event.locations; let i = index" [class.active]="selectedLocation == i" (click)="selectedLocation=i; calcTotal();">{{location.address}}</span></div>
							</ng-container>
							<ng-container *ngIf="event.locations.length==1">
								<div class="eventPage-address">{{event.locations[0].address}}</div>
							</ng-container>
							<ng-container *ngIf="event.locations[selectedLocation].time_slots.length>1">
								<div class="eventPage-duration">Выберите время посещения:</div>
								<div class="eventPage-checks eventPage-checks-small"><span *ngFor="let time of event.locations[selectedLocation].time_slots; let i = index" [class.active]="selectedTime == i" (click)="selectedTime=i; calcTotal();">{{time.start_time}}-{{time.end_time}}</span></div>
							</ng-container>
							<ng-container *ngIf="event.locations[selectedLocation].time_slots.length==1">
								<div class="eventPage-duration">{{event.locations[selectedLocation].time_slots[0].start_time}}-{{event.locations[selectedLocation].time_slots[0].end_time}}</div>
							</ng-container>
							<div class="eventPage-date">{{event.locations[selectedLocation].time_slots[selectedTime].date| amDateFormat :'DD MMMM YYYY, dddd'}}</div>
							<div class="eventPage-duration">Длительность {{event.duration}} минут</div>
							<ng-container *ngIf="event.locations[selectedLocation].time_slots[selectedTime].tickets.length>0">
								<div class="eventPage__line"></div>
								<div class="eventPage__ticket">
									<div class="eventPage__ticket-item" *ngFor="let ticket of event.locations[selectedLocation].time_slots[selectedTime].tickets; let i = index">
										<div class="eventPage__ticket-name">{{ticket.ticket_type_name}} (<span class="price">{{ticket.price}}</span>)</div>
										<div class="eventPage__ticket-seats-wrap">
											<div class="eventPage__ticket-seats">
												<span [class.eventPage__ticket-seats-disable]="ticket.seats==0" (click)="removeTicket(ticket)">-</span>
												<p class="eventPage__ticket-seats-input">{{ticket.seats}}</p>
												<span [class.eventPage__ticket-seats-disable]="ticket.seats >= ticket.allocated_seats" (click)="addTicket(ticket)">+</span>
												<p *ngIf="ticket.seats >= ticket.allocated_seats" class="hint">Достигнуто максимальное количество свободных мест</p>
											</div>
											<p class="eventPage__ticket-price price">{{ticket.price * ticket.seats}}</p>
										</div>
										<p *ngIf="ticket.ticket_type_description" class="eventPage__ticket-description">{{ticket.ticket_type_description}}</p>
									</div>
								</div>
								<ng-container *ngIf="subscriptionPrice">
									<div class="eventPage-subscription">Оплата подписки на 1 месяц: <span>200</span></div>
								</ng-container>
								<div class="eventPage-total-wrap">
									<div class="eventPage-total">Итого к оплате: <span>{{total + subscriptionPrice}}</span></div>
								</div>
								<p *ngIf="discount>0" class="eventPage-discount-wrap">Вы сэкономите <span class="eventPage-discount">{{discount}} рублей</span>, купив этот билет через Киндерпасс</p>
							</ng-container>

						</div>
					</div><div class="ticket__helper"></div><div class="ticket__footer">
						<div class="eventPage-btns">
							<button *ngIf="total>0" (click)="makingBooking()" [class.disabled]="total<=0" class="btn">Купить билет</button>
							<button *ngIf="total<=0" class="btn disabled">Выберите количество билетов</button>
						</div>
					</div>
				</div>
			</div>
			<div class="eventPage-providerInfo">
				<p class="eventPage-p">Мероприятие проводит {{event.provider.legal.legal_name}} (ИНН: {{event.provider.legal.tax_num}}, Для претензий и предложений: {{event.provider.legal.contact_phone}}, e-mail: {{event.provider.legal.contact_email}}). Цена билета {{event.locations[0].time_slots[0].price}} руб.<br>Бронирование и оформление билета осуществлено ООО "Киндерпасс" (ИНН: 78203424534, e-mail: claim@kinderpass.ru, телефон +7 (812) 649-26-32) на основании Агентского договора от {{event.provider.legal.contract_date ? event.provider.legal.contract_date : "01.05.2017"}}</p>
			</div>
		</div>
	</div>
</div>

