<div class="innerpage">
	<div class="wrapper">
		<div *ngIf="event" class="eventPage">
			<div class="prevPage" [routerLink]="['/']" fragment="filter" [queryParams]="gs.url"><img src="app/img/back.png" alt=""><span>Назад</span></div>
			<h1>{{event.name}}</h1>
			<div class="col-1-2 eventCol">
				<div class="eventPage-provider">{{event.provider.name}}</div><img *ngIf="event.photo" class="eventPage-photo" src="img/{{event.photo}}.jpg" alt=""><img *ngIf="!event.photo" class="eventPage-photo" src="app/img/placeholder.jpg" alt=""><div class="eventPage-info">
					<div class="eventPage-age">Для детей {{event.age_from}}-{{event.age_to}} лет</div>
					<div class="eventPage-freeSeats">
						<img src="app/img/children.png" alt="">
						<p class="eventPage-p">Осталось мест</p>
						<span>{{event.locations[selectedLocation].time_slots[selectedTime].free_seats}}</span>
					</div>
				</div>
			</div><!-- 
		 --><div class="col-1-2 ticketCol">
				<div class="eventPage-ticket-wrap">
					<div class="eventPage-title">Билет</div>
					<div *ngIf="showEvent" class="eventPage-ticket-fields" [class.needSubscription]="subscriptionPrice">
						<div class="eventPage-date">{{event.locations[selectedLocation].time_slots[selectedTime].date}}</div>
						<div class="eventPage-time">{{event.locations[selectedLocation].time_slots[selectedTime].start_time}}-{{event.locations[selectedLocation].time_slots[selectedTime].end_time}}</div>
						<div class="eventPage-duration">Длительность {{event.duration}} минут</div>
						<div class="eventPage-address">{{event.locations[selectedLocation].address}}</div>
						<div class="eventPage-seats">
						<div>Количество билетов</div>
						<div class="eventPage-seats-num">
							<span [class.eventPage-seats-disable]="seats<=1" (click)="removeTicket()">-</span>
							<p class="eventPage-seats-num-input">{{seats}}</p>
							<span [class.eventPage-seats-disable]="seats >= event.locations[selectedLocation].time_slots[selectedTime].free_seats" (click)="addTicket()">+</span>
							<p *ngIf="seats >= event.locations[selectedLocation].time_slots[selectedTime].free_seats" class="hint">Достигнуто максимальное количество свободных мест</p>
						</div>
						</div>
						<div class="eventPage-price">Стоимость билетов <span>{{event.locations[selectedLocation].time_slots[selectedTime].price * seats}}</span></div>
						<ng-container *ngIf="subscriptionPrice">
							<div class="eventPage-total">Стоимость подписки до {{subscriptionDate | amDateFormat : 'DD.MM.YYYY'}} <span>200</span></div>
							<div class="eventPage-total">Итого <span>{{event.locations[selectedLocation].time_slots[selectedTime].price * seats + subscriptionPrice}}</span></div>
						</ng-container>
					</div>
					<div *ngIf="!showEvent" class="eventPage-ticket-fields">
						<ng-container *ngIf="event.locations.length>1">
							<div class="eventPage-address">Выберите место посещения:</div>
							<div class="eventPage-checks"><span *ngFor="let location of event.locations; let i = index" [class.active]="selectedLocation == i" (click)="selectedLocation=i;">{{location.address}}</span></div>
						</ng-container>
						<ng-container *ngIf="event.locations.length==1">
							<div class="eventPage-address">{{event.locations[0].address}}</div>
						</ng-container>
						<ng-container *ngIf="event.locations[selectedLocation].time_slots.length>1">
							<div class="eventPage-duration">Выберите время посещения:</div>
							<div class="eventPage-checks eventPage-checks-small"><span *ngFor="let time of event.locations[selectedLocation].time_slots; let i = index" [class.active]="selectedTime == i" (click)="selectedTime=i;">{{time.start_time}}-{{time.end_time}}</span></div>
						</ng-container>
						<ng-container *ngIf="event.locations[selectedLocation].time_slots.length==1">
							<div class="eventPage-duration">{{event.locations[selectedLocation].time_slots[0].start_time}}-{{event.locations[selectedLocation].time_slots[0].time.end_time}}</div>
						</ng-container>
						<div class="eventPage-price eventPage-price-alt">Цена посещения за 1 человека: <span>{{event.locations[selectedLocation].time_slots[selectedTime].price}}</span></div>
					</div>
				</div>
				<div *ngIf="showEvent" class="eventPage-btns">
					<a *ngIf="event.locations.length!=1 || event.locations[0].time_slots.length!=1" (click)="showEvent=!showEvent" class="btn btn-back"></a>
					<button (click)="makingBooking()" class="btn">Купить</button>
					<!-- <div *ngIf="discount > 0" class="eventPage-discount">Дешевле на {{discount | number:'1.0-0'}}%</div> -->
				</div>
				<div *ngIf="!showEvent" class="eventPage-btns">
					<a class="btn" (click)="showEvent=!showEvent">Далее</a>
				</div>
			</div>
			<div *ngIf="event.extra" class="eventPage-additionalInfo">Важно: <span [innerHtml]="event.extra"></span></div>
			<p class="eventPage-p">{{event.description}}</p>
			<div class="eventPage-providerInfo">
				<p class="eventPage-p">Мероприятие проводит {{event.provider.legal.legal_name}} (ИНН: {{event.provider.legal.tax_num}}, Для претензий и предложений: {{event.provider.legal.contact_phone}}, e-mail: {{event.provider.legal.contact_email}}). Цена билета {{event.locations[0].time_slots[0].price}} руб.<br>Бронирование и оформление билета осуществлено ООО "Киндерпасс" (ИНН: 78203424534, e-mail: claim@kinderpass.ru, телефон +7 (812) 649-26-32) на основании Агентского договора от {{event.provider.legal.contract_date ? event.provider.legal.contract_date : "01.05.2017"}}</p>
			</div>
		</div>
	</div>
</div>

