<header [class.header-auth]="gs.isAuthenticated || gs.innerpage" class="header" id="header">
	<div class="wrapper">
		<div class="logo">
			<a routerLink="/" [queryParams]="gs.url">
				<img src="../app/img/logo.png" alt="">
				<p>KinderPass</p>
			</a>
		</div><!-- 
	 --><div *ngIf="gs.isAuthenticated" class="user">
			<ng-container *ngIf="gs.userInfo.subscription">
				<p *ngIf="gs.userInfo.subscription.expires_at" (click)="gs.openPopup('extendSubscription')" [class.user-subscription-extend]="gs.extendSubscription" [class.user-subscription-new]="gs.newSubscription" class="user-subscription user-subscription-link"><span>Абонемент </span>до {{gs.userInfo.subscription.expires_at}}</p>
				<p *ngIf="gs.userInfo.subscription.balance" class="user-subscription"><span>Баланс: </span>{{gs.userInfo.subscription.balance}} P</p>
			</ng-container>
			<ng-container *ngIf="!gs.userInfo.subscription">
				<p (click)="gs.openPopup('extendSubscription')" class="user-subscription user-subscription-link user-subscription-ended">Нет подписки</p>
			</ng-container>
			<p class="user-name" (click)="toogleLK()"  [class.user-name_icon]="gs.userInfo.name.length <= 1" ><img src="../app/img/profile.png" alt=""><span>{{gs.userInfo.name}}</span></p>
		</div><!-- 
	 --><div class="links" *ngIf="!gs.isAuthenticated">
			<a routerLink="/about">О проекте</a><span (click)="gs.openLoginPopup()">Войти</span><a routerLink="/contacts">Контакты</a>
		</div>
		<div *ngIf="openProfile" class="user-menu">
			<div class="user-menu-item">
				<div class="user-menu-title">
					<img src="../app/img/profile.png" alt="">
					<p>Профиль</p>
					<div class="user-menu-btn" (click)="gs.openPopup('updateInfo');toogleLK()"><img src="../app/img/edit.png" alt=""></div>
				</div>
				<table>
					<tr>
						<td>Имя</td>
						<td>{{gs.userInfo.name}}</td>
					</tr>
					<tr>
						<td>Телефон</td>
						<td>{{gs.userInfo.phone}}</td>
					</tr>
					<tr>
						<td>E-mail</td>
						<td>{{gs.userInfo.email}}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="gs.userInfo.bookings.length" class="user-menu-item">
				<div class="user-menu-title">
					<img src="../app/img/ticketLK.png" alt="">
					<p (click)="toogleLK()"><a routerLink="bookings">Брони</a></p>
				</div>
				<div class="user-menu-booking">
					<p *ngFor="let book of gs.userInfo.bookings">
						<a [routerLink]="['/booking', book.id]" (click)="openProfile=false;">{{book.time_slot.activity.name}}</a>
					</p>
				</div>
			</div>
			<div class="user-logout" (click)="logout()">
				<p>Выйти</p>
			</div>
		</div>
	</div>
</header>