<div [@dialog] *ngIf="gs.popupName == 'login'" (click)="close()" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'login'" class="popup-wrapper login-wrapper">
	<div (click)="close()" class="popup-close modal-close"></div>
	<p class="popup-title">Войти</p>
	<p class="popup-description">Чтобы продолжить,<br>войдите через социальную сеть</p>
	<a href="{{apiURL}}oauth/login/vk-oauth2/?next=http://kinderpass.ru/" class="btn btn-vk" (click)="socialclick()">Vkontakte</a>
	<a href="{{apiURL}}oauth/login/facebook/?next=http://kinderpass.ru/" class="btn btn-fb" (click)="socialclick()">Facebook</a>
</div>

<div [@dialog] *ngIf="gs.popupName == 'updateInfo'" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'updateInfo'" class="popup-wrapper login-wrapper updateInfo">
	<div *ngIf="gs.userInfo.email && gs.userInfo.phone" (click)="close()" class="popup-close modal-close"></div>
	<p class="popup-description">Для дальнейшего общения<br>введите свои данные</p>
	<p class="popup-description">Друзья, телефон и почта нам нужны только для отправки деталей бронирования. Мы никогда и никому не передаём эту информацию</p>
	<form name="contacts" [formGroup]="gs.contactsForm" (ngSubmit)="update(gs.contactsForm)">
		<input type="email" formControlName="email" name="email" placeholder="Email">
		<span class="phoneCode">+7</span><input type="text" formControlName="phone" name="phone" placeholder="Телефон">
		<!-- <input type="text" formControlName="phone" name="phone" [textMask]="{mask: gs.phoneMask, showMask: true}" placeholder="Телефон"> -->
		<div class="popup-policy">
			<input type="checkbox" formControlName="policy" name="policy" id="policy"><label for="policy">Я прочитал и согласен с условиями обработки персональных данных</label>
		</div>
		<button type="submit" [disabled]="!gs.contactsForm.valid" class="btn">Сохранить</button>
	</form>
</div>

<div [@dialog] *ngIf="gs.popupName == 'msg' || gs.popupName == 'msgCancel'" (click)="close()" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'msg' || gs.popupName == 'msgCancel'" class="popup-wrapper msg-wrapper" [class.msg-wrapper-cancel]="gs.popupName == 'msgCancel'">
	<div class="popup-close modal-close msg-close"(click)="close()" ></div>
	<p class="popup-description">{{gs.msg}}erwe</p>
	<div (click)="close()" class="btn">OK</div>
</div>

<div [@dialog] *ngIf="gs.popupName == 'booking'" (click)="close()" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'booking'" class="popup-wrapper msg-wrapper">
	<div class="popup-close modal-close msg-close"(click)="close()" ></div>
	<p class="popup-description">Бронь № {{gs.booking_id}} оформлена. Проверьте Вашу электронную почту и СМС, Вам должно прийти уведомление</p>
	<div class="popup-btns">
		<div (click)="close()" [routerLink]="['/booking', gs.booking_id]" class="btn">Посмотреть билет</div>
		<a (click)="close()" [routerLink]="['/']" class="btn btn-link">На главную</a>
	</div>
</div>

<div [@dialog] *ngIf="gs.popupName == 'goToUrl'" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'goToUrl'" class="popup-wrapper msg-wrapper">
	<p class="popup-description">{{gs.msg}}</p>
	<div (click)="close()" [routerLink]="['/']" class="btn">На главную</div>
</div>

<div [@dialog] *ngIf="gs.popupName == 'extendSubscription'" class="popup login" (click)="close()">
</div>
<div [@dialog] *ngIf="gs.popupName == 'extendSubscription'" class="popup-wrapper login-wrapper subscription-wrapper">
	<div (click)="close()" class="popup-close modal-close"></div>
	<ng-container *ngIf="!gs.userInfo.subscription">
		<div class="event-title">Ой!</div>
		<p class="popup-description">Истек срок Вашей подписки</p>
	</ng-container>
	<ng-container *ngIf="gs.userInfo.subscription">
		<div class="event-title">Продление подписки</div>
		<p class="popup-description">Срок действия подписки истекает {{gs.userInfo.subscription.expires_at}}</p>
	</ng-container>
	<p class="popup-description">Абонемент дает вам возможность бронировать неограниченное количество мероприятий со скидками</p>
	<div class="btns">
		<div (click)="gs.initTransaction('SM', 200)" class="btn">Продлить на месяц<br>за 200&nbsp;руб.</div>
		<div (click)="gs.initTransaction('SA', 1900)" class="btn">Продлить на год<br>за 1900&nbsp;руб.</div>
		<div (click)="close()" class="btn btn-link">Продлю позже</div>
	</div>
</div>