<div [@dialog] *ngIf="gs.popupName == 'login'" (click)="close()" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'login'" class="popup-wrapper login-wrapper">
	<div (click)="close()" class="popup-close modal-close"></div>
	<p class="popup-title">Войти</p>
	<p class="popup-description">Чтобы продолжить,<br>войдите через социальную сеть</p>
	<a href="{{apiURL}}oauth/login/vk-oauth2/?next=http://kinderpass.ru/" class="btn btn-vk">Vkontakte</a>
	<a href="{{apiURL}}oauth/login/facebook/?next=http://kinderpass.ru/" class="btn btn-fb">Facebook</a>
</div>

<div [@dialog] *ngIf="gs.popupName == 'updateInfo'" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'updateInfo'" class="popup-wrapper login-wrapper updateInfo">
	<div *ngIf="gs.userInfo.email && gs.userInfo.phone" (click)="close()" class="popup-close modal-close"></div>
	<p class="popup-description">Для дальнейшего общения<br>введите свои данные</p>
	<form name="contacts" [formGroup]="gs.contactsForm" (ngSubmit)="update(gs.contactsForm)">
		<input type="email" formControlName="email" name="email" placeholder="Email">
		<input type="text" formControlName="phone" name="phone" [textMask]="{mask: gs.phoneMask, showMask: true}" placeholder="Телефон">
		<button type="submit" [disabled]="!gs.contactsForm.valid" class="btn">Сохранить</button>
	</form>
</div>

<div [@dialog] *ngIf="gs.popupName == 'msg' || gs.popupName == 'msgCancel'" (click)="close()" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'msg' || gs.popupName == 'msgCancel'" class="popup-wrapper msg-wrapper" [class.msg-wrapper-cancel]="gs.popupName == 'msgCancel'">
	<div class="popup-close modal-close msg-close"(click)="close()" ></div>
	<p class="popup-description">{{gs.msg}}</p>
	<div (click)="close()" class="btn">Окей</div>
</div>

<div [@dialog] *ngIf="gs.popupName == 'extendSubscription'" class="popup login">
</div>
<div [@dialog] *ngIf="gs.popupName == 'extendSubscription'" class="popup-wrapper login-wrapper updateInfo">
	<div (click)="close()" class="popup-close modal-close"></div>
	<p *ngIf="!gs.subscription" class="popup-description">Срок действия подписки истек</p>
	<p *ngIf="gs.subscription" class="popup-description">Срок действия подписки истекает {{gs.userInfo.subscription.expires_at}}</p>
	<p class="popup-description">Подписка дает вам возможность бронировать неограниченное количество мероприятий со скидками</p>
	<div (click)="gs.initTransaction('SM', 200)" class="btn">Продлить на месяц - 200&nbsp;руб.</div>
	<div (click)="gs.initTransaction('SA', 1900)" class="btn">Продлить на год - 1900&nbsp;руб.</div>
</div>