<div class="firstScreen">
	<div class="wrapper">
		<div class="title">
			<h1>Абонементы на посещение лучших детских активностей питера</h1>
			<p>Хватит ломать голову и искать, куда ходить с детьми!<br>Посещайте уже отобранные только для вас мероприятия.</p>
			<a pageScroll href="#subscription" class="btn btn-line">ПОСМОТРЕТЬ<br>АБОНЕМЕНТЫ</a>
		</div>
	</div>
</div>

<div class="advantages">
	<div class="wrapper">
		<h2>Смысл абонемента</h2>
		<div class="advantages-slider">
			<div class="advantages-item">
				<img src="../app/img/adItem1.png" alt=""><!-- 
			 --><div>
					<h3>УДОБНО И БЫСТРО</h3>
					<p>Мы сами подбираем для вас лучшие детские активности Питера каждую неделю. Просто приходите.</p>
				</div>
			</div><!-- 
				 --><div class="advantages-item">
				<img src="../app/img/adItem2.png" alt=""><!-- 
			 --><div>
					<h3>ВСЁ ВКЛЮЧЕНО</h3>
					<p>Посещения мероприятий уже включены в абонемент. Кроме того, это на 10-20% дешевле прихода на них с улицы.</p>
				</div>
			</div><!-- 
				 --><div class="advantages-item">
				<img src="../app/img/adItem3.png" alt=""><!-- 
			 --><div>
					<h3>Новый мир для детей</h3>
					<p>В абонементе нет стандартных мест вроде Кидбурга и Джоки-Джой. Наши абонементы - про новые места и открытия. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="topHelper"></div>

<div class="text">
	<div class="wrapper">
	  <h2>ИНДИВИДУАЛЬНАЯ ПОДБОРКА</h2>
	  <p>Пакеты мероприятий, который мы формируем для вас каждую неделю, полностью персонализированы.</p>
	  <p>Это значит, что при подборе мероприятий мы обязательно учитываем:</p>
	  <ul>
	  	<li>пол и возраст вашего ребенка</li>
	  	<li>предпочтения по расположению мероприятий</li>
	  	<li>предпочтения по типам мероприятий</li>
	  </ul>
	</div>
</div>

<div class="steps">
	<div class="wrapper">
		<h2>Как пользоваться</h2><!-- 
	 --><div class="steps-wrap">
			<div class="steps-item">
				<h3>Выбирайте</h3>
				<p>Каждую неделю для вас подбирается пакет из 5 мероприятий по вашим предпочтениям. Вы видите этот пакет в личном кабинете.</p>
				<div class="steps-img">
					<img src="../app/img/step1.png" alt="">
				</div>
			</div><!-- 
		 --><div class="steps-item">
				<h3>Записывайтесь</h3>
				<p>Записывайтесь на любое мероприятие из пакета прямо на сайте. Ваша бронь сразу отправится организаторам и вас будут ждать.</p>
				<div class="steps-img">
					<img src="../app/img/step2.png" alt="">
				</div>
			</div><!-- 
		 --><div class="steps-item">
				<h3>Приходите</h3>
				<p>И получайте удовольствие от того, как ваш ребенок радуется и развивается!</p>
				<div class="steps-img">
					<img src="../app/img/step3.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form" id="filter">
	<div class="wrapper">
		<h2>ПРИМЕР ПАКЕТА НА СЛЕДУЮЩУЮ НЕДЕЛЮ</h2> 
		<div class="selectedDay">{{monday | amDateFormat : 'DD'}} - {{sunday | amDateFormat : 'DD MMMM'}} {{sunday | amDateFormat : 'YYYY'}} </div><!-- 
	 --><div class="results">
			<div class="results-item" *ngFor="let item of events" id="event_{{item.id}}">
				<a class="results-item-image" (click)="goToEvent(item.id)">
					<img *ngIf="item.photo" src="{{'../app/img/events/s' + item.photo + '.jpg'}}" alt="">
					<img *ngIf="!item.photo" src="../app/img/placeholder.jpg" alt="">
				</a><!-- 
			 --><div class="results-item-description">
					<a class="results-item-title" (click)="goToEvent(item.id)">{{item.name}}</a>
					<div class="results-item-recommendation">{{item.description | truncate:200 }}</div>
					<div class="results-item-location"><span>{{item.locations[0].address}}</span><div *ngIf="item.locations[0].metro" class="results-item-metro metro metro-{{item.locations[0].metro.line}}">{{item.locations[0].metro.name}}</div></div>
				</div><!-- 
			 --><div class="results-item-cost">
					<div class="results-item-time"><span>{{item.time}}</span></div>
					<div class="results-item-date"><span>{{item.date | amDateFormat : 'DD MMMM'}}</span></div>						
				</div>
			</div>
	 	</div>
	</div>
</div>

<div class="bottomHelper"></div>
<div class="options" id="subscription">
	<div class="wrapper">
	  <h2>ТИПЫ АБОНЕМЕНТОВ</h2>
		<div class="options-item">
			<div class="options-desktop">
				<div class="options-title">«РАЗ В НЕДЕЛЮ»</div>
				<div class="options-durations">(3 месяца)</div>
				<p class="options-events">8 посещений включено</p>
				<p class="options-price">4 990 руб.</p>
				<div class="options-text">Посещение любого мероприятия один раз в неделю.</div>
				<button class="btn" routerLink="/subscription/once_a_week">Купить</button>
			</div>
		</div>
		<div class="options-item">
			<div class="options-desktop">
				<div class="options-title">«ТОЛЬКО ВЫХОДНЫЕ»</div>
				<div class="options-durations">(3 месяца)</div>
				<p class="options-events">12 посещений включено</p>
				<p class="options-price">7 900 руб.</p>
				<div class="options-text">Посещение любого мероприятия в выходные дни.</div>
				<button class="btn" routerLink="/subscription/weekends">Купить</button>
			</div>
		</div>
		<div class="options-item">
			<div class="options-desktop">
				<div class="options-title">«ВЫХОДНЫЕ И БУДНИ»</div>
				<div class="options-durations">(3 месяца)</div>
				<p class="options-events">18 посещений включено</p>
				<p class="options-price">9 990 руб.</p>
				<div class="options-text">Посещение любого мероприятия в выходные и будние дни.</div>
				<button class="btn" routerLink="/subscription/week">Купить</button>
			</div>
		</div>
	</div>
</div>

<div class="comments">
	<div class="wrapper">
		<h2><br/>Отзывы родителей</h2>
		<div class="comments__item">
			<a href="https://www.instagram.com/p/BWn0rSgF9Ic/" target="_blank"><img src="../app/img/reports/01.jpg" alt=""></a>
		</div>
		<div class="comments__item">
			<a href="https://www.instagram.com/p/BY-cnknAfTT/" target="_blank"><img src="../app/img/reports/02.jpg" alt=""></a>
		</div>
		<div class="comments__item">
			<a href="https://www.instagram.com/p/BYqvQppnVjD/" target="_blank"><img src="../app/img/reports/03.jpg" alt=""></a>
		</div>
	</div>
</div>
