
<div *ngIf="!gs.isAuthenticated" class="firstScreen">
	<div class="wrapper">
		<div class="title">
			<h1>Абонемент в лучшие детские места Питера</h1>
			<p>Киндерпасс дает возможность найти, записаться и прийти на интересные мастер-классы и детские активности с хорошей скидкой</p>
			<a pageScroll href="#subscription" class="btn btn-line">Получить абонемент</a>
			<a pageScroll href="#filter" class="mobileLink">Посмотреть расписание</a>
		</div>
	</div>

</div>
<!-- BODY -->

<div *ngIf="!gs.isAuthenticated" class="advantages">
	<div class="wrapper">
		<h2>В чем смысл абонемента?</h2>
		<div class="advantages-slider">
			<div class="advantages-item">
				<img src="app/img/adItem1.png" alt=""><!-- 
			 --><div>
					<h3>Большая экономия времени и нервов</h3>
					<p>Просто выберите дату и время. В абонемент входят лучшие классы, занятия и другие активности для единоразового посещения.</p>
				</div>
			</div><!-- 
				 --><div class="advantages-item">
				<img src="app/img/adItem2.png" alt=""><!-- 
			 --><div>
					<h3>Очень хорошая скидка 10-50%</h3>
					<p>В цену включено определенное количество посещений, которые обошлись бы гораздо дороже, если бы вы пришли туда с улицы.</p>
				</div>
			</div><!-- 
				 --><div class="advantages-item">
				<img src="app/img/adItem3.png" alt=""><!-- 
			 --><div>
					<h3>Целый новый мир для вашего ребенка</h3>
					<p>Наш абонемент не про постоянные занятия и кружки, а про то, чтобы расширять кругозор вашего ребенка и показать ему мир.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="!gs.isAuthenticated" class="steps">
	<div class="wrapper">
		<h2>Как пользоваться абонементом</h2><!-- 
	 --><div class="steps-wrap">
			<div class="steps-item">
				<h3>Выбирайте</h3>
				<p>Выбирайте по району, типу активности, времени, возрасту ребенка<br>и другим критериям</p>
				<div class="steps-img">
					<img src="app/img/step1.png" alt="">
				</div>
			</div><!-- 
		 --><div class="steps-item">
				<h3>Записывайтесь</h3>
				<p>Прямо на сайте. Организаторы сразу получат вашу бронь и будут ждать вашего прихода.</p>
				<div class="steps-img">
					<img src="app/img/step2.png" alt="">
				</div>
			</div><!-- 
		 --><div class="steps-item">
				<h3>Приходите</h3>
				<p>И получайте удовольствие от того, как ваш ребенок радуется и развивается!</p>
				<div class="steps-img">
					<img src="app/img/step3.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!gs.isAuthenticated" class="gallery">
	<div class="wrapper">
		<h2>Лучшие предложения<span> на ближайшую неделю</span></h2>
		<div class="slider-wrap">
			<div class="slider">
				<div>
					<div class="slider-img">
						<img src="app/img/gallery/1.jpg" alt="">
					</div><!-- 
				 --><div class="slider-description">
						<h3>Батутный парк №1</h3>
						<p>Два часа отличного активного отдыха / ТРК «Лето» на Пулковском шосссе</p>
						<p class="amount">Скидка <span class="percent">34%</span><span class="mobileText"> при покупке абонемента</span></p>
						<a pageScroll href="#subscription" class="btn btn-line">Хочу пойти!</a>
					</div>
				</div>
				<div>
					<div class="slider-img">
						<img src="app/img/gallery/2.jpg" alt="">
					</div><!-- 
				 --><div class="slider-description">
						<h3>Шахматная школа Эльшада Оруджева</h3>
						<p>Обучение шахматам детей с 2,5 лет /  Кораблестроителей ул. 32 к3</p>
						<p class="amount">Скидка <span class="percent">60%</span><span class="mobileText"> при покупке абонемента</span></p>
						<a pageScroll href="#subscription" class="btn btn-line">Хочу пойти!</a>
					</div>
				</div>
				<div>
					<div class="slider-img">
						<img src="app/img/gallery/3.jpg" alt="">
					</div><!-- 
				 --><div class="slider-description">
						<h3>Счастливое детство</h3>
						<p>Театральная студия  /  Коммуны ул. д.66</p>
						<p class="amount">Скидка <span class="percent">30%</span><span class="mobileText"> при покупке абонемента</span></p>
						<a pageScroll href="#subscription" class="btn btn-line">Хочу пойти!</a>
					</div>
				</div>
				<div>
					<div class="slider-img">
						<img src="app/img/gallery/4.jpg" alt="">
					</div><!-- 
				 --><div class="slider-description">
						<h3>Страна-буяния</h3>
						<p>Детский центр развлечений с лабиринтом, горками и батутами /  Типанова ул. д.21</p>
						<p class="amount">Скидка <span class="percent">25%</span><span class="mobileText"> при покупке абонемента</span></p>
						<a pageScroll href="#subscription" class="btn btn-line">Хочу пойти!</a>
					</div>
				</div>
				<div>
					<div class="slider-img">
						<img src="app/img/gallery/5.jpg" alt="">
					</div><!-- 
				 --><div class="slider-description">
						<h3>Примавера Роботикс</h3>
						<p>Lego Простые механизмы  /  Афонская, 18</p>
						<p class="amount">Скидка <span class="percent">50%</span><span class="mobileText"> при покупке абонемента</span></p>
						<a pageScroll href="#subscription" class="btn btn-line">Хочу пойти!</a>
					</div>
				</div>
				<div>
					<div class="slider-img">
						<img src="app/img/gallery/6.jpg" alt="">
					</div><!-- 
				 --><div class="slider-description">
						<h3>Кулинарная школа №1</h3>
						<p>Учимся готовить на курсах «Юный кулинар»  /  Лесной проспект д. 73</p>
						<p class="amount">Скидка <span class="percent">10%</span><span class="mobileText"> при покупке абонемента</span></p>
						<a pageScroll href="#subscription" class="btn btn-line">Хочу пойти!</a>
					</div>
				</div>
			</div>
			<div class="slider-arrow slider-arrow-prev"></div>
			<div class="slider-arrow slider-arrow-next"></div>
		</div>
	</div>
</div>
<div *ngIf="!gs.isAuthenticated" class="helper"></div>
<div class="form" id="filter">
	<div class="wrapper">
		<h2>Расписание</h2>
		<div class="filters">
			<div class="filters-item filters-location">
				<span class="filters-option" [class.filters-option-active]="params.districts.id && params.districts.id.length" (click)="gs.openPopup('districts');">Район</span>
				<span class="filters-text">или</span>
				<span class="filters-option" [class.filters-option-active]="params.metro.id && params.metro.id.length" (click)="gs.openPopup('metro');">Метро</span>
				<p *ngIf="params.metro.id" class="locations">{{params.metro.name[0]}}<span *ngIf="params.metro.name.length>1"> и еще {{params.metro.name.length - 1}} {{declOfNum(params.metro.name.length - 1, ['станция','станции','станций'])}}</span></p>
				<p *ngIf="params.districts.id" class="locations">{{params.districts.name[0]}}<span *ngIf="params.districts.name.length>1"> и еще {{params.districts.name.length - 1}} {{declOfNum(params.districts.name.length - 1, ['район','района','районов'])}}</span></p>
			</div><!-- 
		 --><div class="filters-item filters-time">
				<span class="filters-option" *ngFor="let time of times;" [class.filters-option-active]="params.time_from==time.time_from && params.time_to==time.time_to" (click)="filterByTime($event, time)">{{time.key}}</span>
			</div><!-- 
		 --><div class="filters-item filters-age">
				<span class="filters-option" *ngFor="let age of ages;" [class.filters-option-active]="params.age_from==age[0] && params.age_to==age[1]" (click)="filterByAge($event, age)">{{age[0]}}-{{age[1]}}</span>
				<span class="filters-text">лет</span>
			</div><!-- 
		 --><div class="filters-item filters-category">
				<span class="filters-option" *ngFor="let category of categories; let i = index;"  (click)="curCategory = category.id; eventsFilter()"
				[class.filters-option-active]="category.id == curCategory">{{category.name}}</span>
				<p *ngIf="curCategory == 1">Лучшие места на наш взгляд, чтобы вам было проще выбирать.</p>
				<p *ngIf="curCategory == 2">Батуты, скалодромы, веревочные парки, парки развлечений.</p>
				<p *ngIf="curCategory == 3">Картинг, игровые пространства.</p>
				<p *ngIf="curCategory == 4">Танцы</p>
				<p *ngIf="curCategory == 5">Любые занятия, где нужно что-то делать руками – робототехника, рисование, лепка, гончарное дело и т.д.</p>
				<p *ngIf="curCategory == 7">Музеи, театры, зоопарки, кино.</p>
				<p *ngIf="curCategory == 9">Любые активности, где требуется определенное минимальное количество участников – квесты, футбол, кьюзар и т.д.</p>
				<p *ngIf="curCategory == 10">Любые развивающие занятия – психология, математика, боевые искусства, ритмопластика.</p>
			</div>
		</div>  
		<div class="week">
			<div class="week-day" *ngFor="let d of dates;" [class.filters-option-active]="curDate == (d | amDateFormat: 'YYYYMMDD')" (click)="filterByDate($event, d);">
				<div class="desktop">
					<p>{{d | amDateFormat : 'dddd'}}</p>
					<span>{{d | amDateFormat : 'DD MMMM'}}</span>
				</div>
				<div class="mobile">
					<p>{{d | date: 'EE'}}</p>
					<span>{{d | date:'dd.MM'}}</span>
				</div>
			</div>
			<div class="lastWeek" (click)="lastWeek($event);"></div>
			<div class="nextWeek" (click)="nextWeek($event);"></div>
		</div><!--   
	 --><div class="selectedDay">{{selectedDate | date: 'EEEE'}}, {{selectedDate | date: 'dd.MM'}}</div><!-- 
	 --><div class="results">
	 		<ng-container *ngIf="events.length > 0">
				<div class="results-item" *ngFor="let item of events | slice:0:resultsToShow;">
					<div class="results-item-image" [routerLink]="['/event', item.locations.time_slots.id]">
						<img *ngIf="item.photo" src="img/s{{item.photo}}.jpg" alt="">
						<img *ngIf="!item.photo" src="app/img/placeholder.jpg" alt="">
					</div><!-- 
				 --><div class="results-item-description">
						<div class="results-item-title" [routerLink]="['/event', item.locations.time_slots.id]">{{item.name}}</div>
						<div class="results-item-recommendation">{{item.description | truncate:200 }}</div>
						<div class="results-item-location">{{item.locations.address}}</div>
					</div><!-- 
					 --><div class="results-item-cost">
						<div class="results-item-time"><span>{{item.locations.time_slots.start_time}}</span></div>
						<div class="results-item-price"><span>{{item.locations.time_slots.price}}</span></div>
						<!-- NBD -->
						<div class="btn" [routerLink]="['/event', item.locations.time_slots.id]">Записаться</div>
					</div>
				</div>
	 		</ng-container>
	 		<p class="results-notFound" *ngIf="events.length <= 0">Не найдено ни одного мероприятия</p>
	 	</div>
	 	<div class="moreResults" *ngIf="resultsToShow < events.length" (click)="resultsToShow = resultsToShow + 8"><span class="btn">Еще (<span>{{events.length - resultsToShow}}</span>)</span></div>
	</div>
</div>
<div class="bottomHelper"></div>
<div class="options" id="subscription">
	<div class="wrapper">
	  <h2>Выберите свой абонемент</h2>
		<div class="options-item">
			<div class="options-desktop">
				<p class="options-title">«Занятый родитель»</p>
				<div class="options-durations">2-6 посещений</div>
				<div class="options-sale">срок действия - все лето!</div>
				<h3>1 499 руб.</h3>
				<p class="options-description">Разнообразьте досуг вашего ребенка, даже если вы его постоянно куда-то водите.</p>
				<button *ngIf="gs.isAuthenticated" (click)="initTransaction('A')" class="btn">Купить</button>
				<button *ngIf="!gs.isAuthenticated" (click)="gs.openPopup('login')" class="btn">Купить</button>
			</div>
		</div>
		<div class="options-item">
			<div class="options-desktop">
				<p class="options-title">«Активная семья»</p>
				<div class="options-durations">4-12 посещений</div>
				<div class="options-sale">срок действия - все лето!</div>
				<h3>2 699 руб.</h3>
				<p class="options-description">Это 1 или 2 новых события для ваших детей каждую неделю. Гарантированно.</p>
				<button *ngIf="gs.isAuthenticated" (click)="initTransaction('B')" class="btn">Купить</button>
				<button *ngIf="!gs.isAuthenticated" (click)="gs.openPopup('login')" class="btn">Купить</button>
			</div>
		</div>
		<div class="options-item">
			<div class="options-desktop">
				<p class="options-title">«Большая семья»</p>
				<div class="options-durations">6-22 посещений</div>
				<div class="options-sale">срок действия - все лето!</div>
				<h3>4 550 руб.</h3>
				<p class="options-description">Опция для большой семьи. Используйте возможности абонемента максимально!</p>
				<button *ngIf="gs.isAuthenticated" (click)="initTransaction('C')" class="btn">Купить</button>
				<button *ngIf="!gs.isAuthenticated" (click)="gs.openPopup('login')" class="btn">Купить</button>
			</div>
		</div>
	</div>
</div>
<!-- /BODY -->
<location-dialog (districtsFilter)="districtsFilter($event)" (metroFilter)="metroFilter($event)" [(metro)]="metro" [(districts)]="districts">
</location-dialog>
